@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
}
body{
    display: flex;
}
#sidebar{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: inherit;
    background-color: #2D3748;
    
}
.logo{
    display: flex;
    justify-content: center;
    background-color: #6B46C1;
    width: 80px;
    height: 11.8vh;
    cursor: pointer;
}
.logo:hover{
    background-color: #9F7AEA;
}
.logo svg{
    width: 35px;
}
.hamburger-bar{
    display: none;
}
.side-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    height: 70vh;
}
.side-options-bars{
    margin: 4vh 0 2vh 0;
    width: 45px;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #6B46C1;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.side-options-bars svg{
    width: 19px;
    stroke: #6B46C1;
}
.side-options-folder{
    width: 45px;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.side-options-folder:hover{
    background-color: #ffffff21;
    border-radius: 5px;
}
.side-options-folder svg{
    width: 19px;
}
.side-options-posts{
    margin: 2vh 0;
    width: 45px;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.side-options-posts:hover{
    background-color: #ffffff21;
    border-radius: 5px;
}
.side-options-posts svg{
    width: 19px;
}
.side-options-page{
    width: 45px;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.side-options-page:hover{
    background-color: #ffffff21;
    border-radius: 5px;
}
.side-options-page svg{
    width: 19px;
}
.side-bar-config{
    width: 80px;
    height: 73vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}
.side-bar-config button{
    width: 45px;
    height: 7vh;
    background-color: transparent;
    border: none;
}
.side-bar-config button svg{
    width: 19px;
    stroke: #CBD5E0;
}
.side-bar-config button:hover{
    background-color: #bdbdbd33;
    border-radius: 5px;
}
.container{
    margin: 0;
    padding: 0;
}
header{

    display: flex;
    align-items: center;
    width: 92vw;
    height: 13vh;
}
.search{
    display: flex;
    align-items: center;
    width: 450px;
    height: 40px;
    margin: 0 2.5vw;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #a9adb1;
}

.search button{
    width: 19px;
    height: 5vh;
    border: none;
    background-color: white;
    border-radius: 8px;
    cursor: pointer


}
.search svg{
    width: 19px;
    fill: #CBD5E0;
}
.search input{
    width: 100%;
    height: 5vh;
    border-radius: 8px;
    border: 0;
    outline: none;
    margin-left: 0.8vw;
}
.search input::placeholder{
    color: #CBD5E0;
}
.perfil{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 44vw;
    cursor: pointer;
}
.perfil-box{
    width: 22vw;
    display: flex;
    align-items: center;
    padding: 0 1vw;
    border: none;
    background-color: white;
}
.perfil-box:hover{
    background-color: #8b8b8b31;
    border-radius: 10px;
}
.perfil-txt{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.name{

    font-weight: 600;
    height: 2.5vh;
}
.type{
    font-size: 15px;
    color: #7c7c7c;
}
.perfil-img{
    width: 6vw;
    height: 7vh;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0 0 1vw;
}
.perfil-img img{
    margin-top: 9px;
    width: 100%;
    transform: scale(1.5);
}
.perfil svg{
    width: 3vw;
    margin-left: 0.5vw;
    fill: #a9adb1;
}
.header-options{
    display: flex;
    justify-content: center;
    margin: 0 1vw;
    width: 10vw;
    height: 8vh;
}

.notifications{
    margin: 0 1vw;
    background-color: white;
    border: none;
    cursor: pointer;
}
.notifications svg{
    width: 1.8vw;
    stroke: #a0a1a1;
}
.notifications svg:hover{
    stroke: #3d3d3d;
}
.exit{
    margin: 0 1vw;
    background-color: white;
    border: none;
    cursor: pointer;
}
.exit svg{
    width: 1.8vw;
    stroke: #a0a1a1;
}
.exit svg:hover{
    stroke: #3d3d3d;
}
.main-top{
    display: flex;
    justify-content: space-between;
    width: 92vw;
    height: 23vh;

    
}
.dashboard-txt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 3vw;
    width: 18vw;

}
.dashboard-txt1{
    color: rgb(51, 51, 51);
    font-size: 39px;
    font-weight: 600;
    margin-bottom: 0.3vh;
}
.dashboard-txt2{
    color: #7c7c7c;
    font-size: 18px;
}
.dashboard-buttons{
    display: flex;
    align-items: center;
    width: 37vw;
    height: 18vh;
}
.manage-dashboard{
    height: 7.5vh;
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 15vw;
    margin-right: 2vw;
    border: 1px solid #6B46C1
}
.manage-dashboard:hover{
    background-color: #a0a0a028;
}
.manage-dashboard svg{
    stroke: #6B46C1;
    width: 2vw;
}
.manage-dashboard span{
    color: #6B46C1;
}
.create-dashboard{
    height: 7.5vh;
    width: 15vw;
    background-color: #6B46C1;
    border: none;
    border-radius: 5px;
}
.create-dashboard:hover{
    background-color: #492f86;
}
.create-dashboard svg{
    width: 2vw;
}
.create-dashboard span{
    color: white;
}
.datas{
    display: flex;
    justify-content: space-around;
    width: 92vw;
    height: 20vh;
    padding: 0 2vw;
}
.students{
    display: flex;
    width: 21vw;
    height: 20vh;
    box-shadow: 1px 1px 8px #03030323;
    border-radius: 7px
}
.students svg{
    width: 1.7vw;
    margin-left: 4vw;
    stroke: #6B46C1;    
}
.students-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3vw;
    width: 13vw;
}
.students-txt1{
    font-size: 25px;
    font-weight: bold;
}
.students-txt2{
    color: #bdbdbd;
    font-weight: 400;
}
.avarage{
    display: flex;
    width: 21vw;
    height: 20vh;
    box-shadow: 1px 1px 8px #03030323;
    border-radius: 7px
}
.avarage svg{
    width: 1.7vw;
    margin-left: 4vw;
    stroke: green;
}
.avarage-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3vw;
    width: 13vw;
}
.avarage-txt1{
    font-size: 25px;
    font-weight: bold;
}
.avarage-txt2{
    color: #bdbdbd;
    font-weight: 400;
}
.underperforming{
    display: flex;
    width: 21vw;
    height: 20vh;
    box-shadow: 1px 1px 8px #03030323;
    border-radius: 7px
}
.underperforming svg{
    width: 1.7vw;
    margin-left: 4vw;
    stroke: red;
}
.underperforming-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3vw;
    width: 13vw;
}
.underperforming-txt1{
    font-size: 25px;
    font-weight: bold;
}
.underperforming-txt2{
    color: #bdbdbd;
    font-weight: 400;
}
.underperforming-txt3{
    color: #bdbdbd;
    font-weight: 400;
}
.finished{
    display: flex;
    width: 21vw;
    height: 20vh;
    box-shadow: 1px 1px 8px #03030323;
    border-radius: 7px
}
.finished svg{
    width: 1.7vw;
    margin-left: 4vw;
    stroke: blue;
}
.finished-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3vw;
    width: 13vw;
}
.finished-txt1{
    font-size: 25px;
    font-weight: bold;
}
.finished-txt2{
    color: #bdbdbd;
    font-weight: 400;
}
.informations{
    display: flex;
    width: 92vw;
    justify-content: space-around;
    margin: 5vh 0 0 0;
    padding-left: 1vw;
}
.students-numbers{
    width: 43vw;
    border-radius: 4px;
}
.students-numbers-graphic{
    height:50vh;
    padding: 0;
    padding: 1vw 1.5vw;
    border-radius: 6px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.219);
}
.students-numbers-graphic span{
    font-size: 17px;
    font-weight: 600;
}
.students-numbers-img{
    width: 40vw;
    height: 35vh;
    margin-top: 4.5vh;
    border-radius: 5px;
    overflow: hidden;
}
.students-numbers-img img{
    width: 100%;
    height: 100%;
}
.students-numbers-box{
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
}
.students-numbers-lections{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 20vh;
    border-radius: 6px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.219);
}

.students-numbers-lections svg{
    width: 2vw;
    margin-right: 3vw;
    stroke: #DAA742;
}
.students-numbers-lections-txt{
    display: flex;
    flex-direction: column;
}
.students-numbers-lections-txt1{
    font-size: 25px;
    font-weight: bold;
}
.students-numbers-lections-txt2{
    color: #bdbdbd;
    font-weight: 400;
}
.students-numbers-hours{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 20vh;
    border-radius: 6px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.219);
}
.students-numbers-hours-svg svg{
    width: 2vw;
    margin-right: 3vw;
    stroke: #319795;
}
.students-numbers-hours-txt{
    display: flex;
    flex-direction: column;
}
.students-numbers-hours-txt1{
    font-size: 25px;
    font-weight: bold;
}
.students-numbers-hours-txt2{
    color: #bdbdbd;
    font-weight: 400;
}
.students-names{
    width: 20vw;
    height: 76vh;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.219);
    border-radius: 6px;
}
.students-names-txt{
    display: flex;
    justify-content: space-between;
    margin: 1vw 1.5vw;
}
.students-names-txt span{
    font-size: 17px;
    font-weight: 600;
}
.descending{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
}
.descending:hover span {
    color: #492f86;
}
.descending:hover svg{
    fill: #492f86;
}
.descending span{
    font-size: 15px;
    font-weight: 600;
    color: #6b46c16c;
}
.descending svg{
    width: 1.5vw;
    fill: #6b46c16c;
}
.students-names-list{
    margin: 4vh 0vw;
    height: 60vh;
    overflow-y: scroll;
}
.list{
    display: contents;
    flex-direction: column;
    list-style: none;
    overflow-y: scroll;
}
.list-item{
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}
.list-item figure{
    width: 2.7vw;
    height: 5.5vh;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 0vw 0 1.5vw;
}
.list-item img{
    margin-top: -2vh;
    width: 100%;
}
.list-item-name{
    width: 12vw;
    font-size: 17px;
    font-weight: 500;
    padding-left: 1vw;
    color: #7c7c7c;
}
.list-item-number{
    font-size: 17px;
    font-weight: bold;
}
.students-type{
    width: 20vw;
    padding: 1vw 1.5vw;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.219);
    border-radius: 6px;
}
.students-type span{
    font-size: 17px;
    font-weight: 600;
}
.students-type-img{
    width: 18vw;
    height: 63vh;
    margin-top: 3vh;
}
.students-type-img img{
    width: 100%;
    height: 100%;
}
footer{
    width: 92.9vw;
    height: 15vh;
    padding-top: 5vh;
    padding-right: 6vw;
    display: flex;
    justify-content: end;
}
footer span{
    font-size: 20px;
    font-weight: 500;
    color: #6B46C1;
}